<div style="overflow-x:hidden;">
<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="#">Trang chủ</a>
    </li>
    <li class="active">Quản lý tin tức</li>
  </ul>
  <div class="nav-search">
    <p class="pull-right no-margin">
      <a (click)="createModal()" class="btn btn-success btn-xs">
        <i class="fa fa-plus"></i>&nbsp;Thêm
      </a>
    </p>
  </div>
</div>
<div class="row">

  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
      <form class="form-horizontal"  [formGroup]="formsearch"  (ngSubmit)="search()">
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right">Tiêu đề</label>
          <div class="col-sm-11">
            <input formControlName="tieude"  type="text" placeholder="Tiêu để" />
          </div>
        </div>
        <!-- <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right">Giá Sản Phẩm</label>
          <div class="col-sm-11">
            <input formControlName="dongia"  type="text" placeholder="Đơn Giá" />
          </div>
        </div> -->
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right"></label>
          <div class="col-sm-11">
            <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
          </div>
        </div>
      </form> 
    </p-panel>
    <p-table selectionMode="single" [value]="bantins" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 70px; text-align: center;">STT</th>
          <th style="width: 15%; text-align: left;">Tiêu đề</th>
          <th style="width: 15%; text-align: left;">Hình ảnh</th>
          <!-- <th style="width: 8%; text-align: left;">Xuất xứ</th> -->
          <th style="width: 45%; text-align: left;">Nội dung</th>
          <th style="width: 50px; text-align: left;">Lần xem</th>
          <th style="width: 100px; text-align: left;">Ngày đăng</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item  let-i="rowIndex">
        <tr>
          <td style="width: 100px; text-align: center;">{{ i + 1 }}</td>
          <td>{{ item.tieude }}</td>
          <td><img style="width:150px;" src="/assets/images/{{item.anh}}"/></td>
          <!-- <td>{{ item.xuatxu }}</td> -->
          <td>{{ item.noidung }}</td>
          <td>{{ item.lanxem}}</td>
          <td>{{ item.ngaydang | date:'dd/MM/yyyy'}}</td>
          <td class="action-col" >
            <div class="btn-group">
              <button title="" class="btn btn-xs btn-white btn-default"  (click)="openUpdateModal(item)">  
                <i class="ace-icon fa fa-edit"></i>
              </button>
              <button title="" class="btn btn-xs btn-white btn-default" (click)="onDelete(item)">
                <i class="ace-icon fa fa-trash"></i>
              </button>
            </div>  
          </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- PAGE CONTENT ENDS -->
  </div>
  <div class="col-xs-12" style="text-align: right;">
    <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
<div *ngIf="showUpdateModal" id="createUserModal" class="modal fade">
  <div class="modal-dialog modal-lg full-height-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4  *ngIf="isCreate" class="modal-title">Nhập thông tin bản tin</h4>
        <h4 *ngIf="!isCreate" class="modal-title">Sửa thông tin bản tin</h4>
      </div>
      <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal utehy-form">
        <div class="modal-body no-padding">
          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> ID(<span style="color: red;">*</span>)</label>
            <div class="col-sm-5">
              <input type="text" placeholder="ID" formControlName="idbantin"/>
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> Tiêu đề(<span style="color: red;">*</span>)</label>
            <div class="col-sm-5">
              <input type="text" placeholder="tiêu đề" formControlName="tieude"/>
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> Thể loại(<span style="color: red;">*</span>)</label>
            <div class="col-sm-10">
              <select style="width: 100%;"  class="custom-select" formControlName="idtheloai" placeholder="Thể loại">
                <option *ngFor="let mn of menus" value="{{mn.idtheloai}}">{{mn.idtheloai}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> Nội dung</label>
            <div class="col-sm-10">
              <input type="text" formControlName="noidung" placeholder="Nội dung" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> Ngày đăng</label>
            <p-calendar formControlName="ngaydang" [dateFormat]="dateFormat"  [locale]="locale_vn" [showIcon]="true" inputId="icon" ></p-calendar>
            
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> Ảnh</label>
            <div class="col-sm-10">
              <p-fileUpload #file_image mode="advanced" [showUploadButton]="false" cancelLabel="Hủy" chooseLabel ="Chọn ảnh"   multiple="false" accept="image/*" maxFileSize="1000000">
                  <ng-template pTemplate="content">
                      <img *ngIf="bantin && bantin.anh" style="height: 100px;width: 100px;" [src]="bantin.anh">
                  </ng-template>
            </p-fileUpload>
            </div>
          </div>
        </div>
         
         
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" (click)="Reset()">
          <i class="fa fa-bell"></i> Làm mới
        </button>
        <button type="submit" class="btn btn-success btn-sm btn-submit">
          <i class="fa fa-save"></i> Đồng ý
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
          <i class="fa fa-times"></i> Đóng lại
        </button>
      </div>
    </form>  
    </div>
  </div>
</div>
</div>